@import "../../index.scss";

.featured {
    color: $dark;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
        font-family: 'Playfair Display', serif;
        font-weight: 800;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;


        @media screen and (min-width: 768px) {
            font-size: 1rem;
            width: 60%;
            margin: 2rem auto;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.2rem;
            width: 30%;
            margin: 2rem auto;
        }
    }

    .allProductsBtn {
        background-color: $primary;
        color: $light;
        border: none;
        padding: 1rem 5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        margin-bottom: 2rem;

        &:hover {
            background-color: $dark;
        }
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

    }
}
