@import "../../index.scss";

.card {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border: 2px solid $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        width: calc(100% / 3 - 2rem);
        padding: 1rem;
    }

    .card-image {
        width: 80%;
        height: 300px;
        border-radius: 0.5rem;        
        margin-bottom: 1rem;
        object-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        @media screen and (min-width: 768px) {
            height: 200px;
        }

        @media screen and (min-width: 1024px) {
            height: 400px;
        }
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        font-family: 'Playfair Display', serif;
        color: $dark;
        text-decoration: none;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.8rem;
        }
    }


    .card-btn {
        width: 80%;
        display: flex;
        justify-content: space-around;
        background-color: $dark;
        color: $light;
        border: none;
        padding: 1rem 0;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        font-size: 0.8rem;
        &:hover {
            background-color: $primary;
        }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            gap: 0.5rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1rem;
        }

    }

    .card-link {
        text-decoration: none;
        color: $dark;

        button {
            width: 100%;
            background-color: transparent;
            border: none;
            text-transform: uppercase;
            margin: 2rem 0 0 0;
            text-decoration: underline;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
