@import "../../index.scss";

footer{
    min-height: 30px;
    background-color: $dark;
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;

    a{
        color: $light;
        text-decoration: none;
        padding: 0 0.5rem;
        font-weight: bold;

        &:hover{
            color: $primary;
        }
    }
}
